<h1 class="pair-header-text">Random Pair Creator</h1>

<div class="container">
  <div class="row">
    <div class="col-6" *ngFor="let i of pairString; let j = index;">
      <div class="card group-card">
        <div class="card-header group-card-title">Group {{j+1}}</div>
        <span class="card-text group-text">{{i}}</span>
      </div>
    </div>
  </div>
  <form [formGroup]="formGroup">
  <div class="row input-row">
      <div class="col">
        <span>Team member names</span><br>
        <textarea class="names-textarea" formControlName="groupNames" type="text"></textarea>
      </div>
      <div class="col">
        <span>Incompatible Names</span><br>
        <textarea class="names-textarea" formControlName="incompatibleNames" type="text"></textarea>
      </div>
  </div>


  <div class="row group-size-row">
    <div class="col">
      <span>Number of Pairs</span> <br>
      <input formControlName="groupSize" type="number" value="2">
    </div>
    <div class="col previous-pairs-col">
      <span>Previous Pairs</span> <br>
      <textarea class="previous-pairs-textarea" formControlName="previousPairs"></textarea>
    </div>
  </div>
  </form>

  <div class="row button-row">
    <div class="col button-col">
      <button type=button class="btn btn-primary" (click)="generatePairs()">Generate Pairs</button>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
